.App {
  text-align: center;
}
* {
  font-family: monospace;
  box-sizing: border-box;
  color: white;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.78);
  height: 80px;
}
.user-details {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}
.user-details img {
  border-radius: 50%;
  margin: 10px 20px;
}
.user-details button {
  background-color: aqua;
  border-radius: 10px;
  height: 30px;
  margin: 10px 20px;
  cursor: pointer;
}
.links {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}
.links a {
  margin: 20px 30px;
}

.form {
  margin-top: 100px;
}
.form input {
  color: black;
}
.form textarea {
  color: black;
}
.post {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  margin-left: 600px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 1px dimgray;
  border-radius: 5px;
}
.post p,
h2,
h1 {
  color: black;
}
